.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--main-blue);
    box-shadow: 0 10px 25px 16px var(--main-blue);
}

.header>.logo{
    position: absolute;
    top:-20px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px 6px var(--main-gray);
}

.header>.logo>a{
    width: 60%;
}
.header>.logo img{
    width: 100%;
}